.input {
  color: white;
  caret-color: blue;
  border: none;
  font-size: 18px;
  width: 1px;
  background-color: transparent;
  text-align: right;
  outline: none;
}

.display {
  position: absolute;
  right: 2px;
  bottom: 16px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
